form(action="/buscar", method="GET")
    .hd-search
        a.st-btn-1.fa-flip-horizontal.js-hd-search(href='/assets/#search-block')
            i.li_search
        .hd-search-block.js-hd-search-block
            .search
                .search-input
                    input(type='search', name="q" placeholder='Digite a sua busca...')
                .search-btn
                    button Buscar
