.poling-widget
    .pst-block
        .pst-block-head
            h2.title-4
                strong Enquete
        .pst-block-main
            form.form-breve.poling-block
                h5.title-9 O que achou do nosso novo site?
                ul.poling-list
                    li
                        input#test1.radio(type='radio', name='enquete')
                        label.rd-label(for='test1') Amei
                    li
                        input#test2.radio(type='radio', name='enquete')
                        label.rd-label(for='test2') Gostei
                    li
                        input#test3.radio(type='radio', name='enquete')
                        label.rd-label(for='test3') Preferia o antigo
                button.btn-1 Enviar!
