.sbsb-block-1
	h4.title-8
		strong Quer receber a Revista Online? <br />
		| Inscreva-se em nossa newsletter 
		
	form(action="/inscrever-newsletter", method="POST").form-breve.sbsb-form-1
		.sbsb-form
			.sbsb-input
				span.sbsb-icon
					i.li_mail
				input(type='email', name="email", placeholder='E-mail', required)
			.sbsb-btn
				button inscrever
