.tags-widget
    .pst-block
        .pst-block-head
            h2.title-4
                strong Tags
        .pst-block-main
            .tags-block
                ul.tags-list
                    for t in tags
                        li
                            a(href='/materias/tags/'+t.slug)= t.name