extends base

block content
    <div class="main-wrapper">
        <div class="inner-wrapper">
            <div class="main">
                //-<!-- Content -->
                <div class="main-content">
                    //-<!-- Page head tile -->
                    <div class="page-head-tile">
            
                    </div>
                    //-<!-- Page head tile END -->
                    //-<!-- Main post image -->
                    <div class="section">
                        <article class="post post-tp-27 mb-height">
                            <figure>
                                <a href="">
                                    <img src="/assets/img/aviaoavianca.png" height="535" width="1140" alt="Spectr News Theme" class="adaptive" />
                                </a>
                            </figure>
                            <div class="ptp-27-overlay">
                                <div class="table">
                                    <div class="cell">
                                        <h2 class="title-18"><a href="">Candidates relate tales of addiction but are short on answers</a></h2>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!-- Main post image END -->
                    <div class="section">
                        <div class="row">
                            <div class="content">
                                <div class="pst-block">
                                    <div class="pst-block-main">
                                        <div class="post-content">
                                            <h1 class="red-title">AVIANCA BRASIL</h1>
                                            <br>
                                            <p>A Avianca Brasil opera voos regulares desde 2002. Cobrindo 23 destinos domésticos e um no exterior com cerca de 230 decolagens diárias, transportou 9 milhões de passageiros em 2016 em sua moderna frota de 45 aeronaves da Airbus. Como membro da Star Alliance, a maior aliança global de companhias aéreas, oferece aos clientes acesso a mais de 1.300 aeroportos em todo o mundo, por meio de voos de 27 parceiras internacionais.
                                            <br><br>A Avianca Brasil é amplamente reconhecida pela qualidade de seus produtos e serviços, como refeição de bordo gratuita, entretenimento individual e maior espaço entre poltronas (a empresa é a única no país a estampar a categoria “A” do Selo Dimensional ANAC em todas as aeronaves e em todas as fileiras de assentos). A estas vantagens soma-se o programa de fidelidade Amigo, que conta com mais de 3,4 milhões de clientes cadastrados. A companhia possui, ainda, a certificação IOSA, da IATA, reconhecida como atestado de alto padrão de segurança operacional e controle de qualidade no setor aéreo.
                                            <br><br>Como reconhecimento pelas ações constantes de melhoria no atendimento aos clientes, em 2016, a Avianca Brasil recebeu, pela terceira vez consecutiva, o prêmio Melhor Companhia Aérea Nacional pela revista Viagem e Turismo e, pela quinta vez, o prêmio de melhor companhia aérea do país em atendimento ao cliente, segundo o Ranking de Atendimento ao Cliente do Instituto Ibero-Brasileiro de Relacionamento com o Cliente (IBRC)/Revista Exame. Na virada para dezembro, o jornal O Estado de S. Paulo divulgou a pesquisa de Melhores Serviços do Brasil, feita em parceria com a Blend New Research, que a colocou em primeiro lugar na categoria Companhia Aérea.</p>
                                            <div class="small-gallery">
                                                <div class="item">
                                                    <figure>
                                                        <img src="/assets/img/A318.png" height="168" width="230" alt="Spectr News Theme" class="adaptive" />
                                                    </figure>
                                                </div>
                                                <div class="item">
                                                    <figure>
                                                        <img src="/assets/img/A319.png" height="168" width="230" alt="Spectr News Theme" class="adaptive" />
                                                    </figure>
                                                </div>
                                                <div class="item">
                                                    <figure>
                                                        <img src="/assets/img/A320S.png" height="168" width="230" alt="Spectr News Theme" class="adaptive" />
                                                    </figure>
                                                </div>
                                            </div>
                                            <h1 class="red-title">PLATAFORMAS ONLINE</h1>
                                            <br>
                                            <div class="devices">
                                                <img src="/assets/img/d1.png" />
                                                <img src="/assets/img/d2.png" />
                                                <img src="/assets/img/d3.png" />
                                            </div>
                                            <p>
                                            |O site da Avianca em Revista oferece oportunidades para os anunciantes conectarem-se com seus clientes, completando a mídia impressa com o direcionamento imediato para o site da marca. Os leitores chegam ao site após ter contato com os 25 mil e-mails marketing mensais, redes sociais da companhia aérea e o site de venda de passagens. Além disso, contamos com os mais de 900 mil passageiros mensais que acessam o universo digital em busca de mais informações e com os clientes do programa de fidelidade Amigo, que já somam mais de 3milhões de afiliados. São leitores conectados com a Avianca em Revista mesmo quando não estão voando. Essa é mais uma forma de expandir a visibilidade da sua marca.
                                            </p>
                                            <img style="width: 100%;" src="/assets/img/premios.png" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            //- SIDEBAR INIT
                            <aside class="side-bar">
                                <div class="js-sidebar">
                                    include ./partials/_search
                                    include ./partials/_tags
                                    include ./partials/_newsletter
                                </div>
                            </aside>
                            //- SIDEBAR END
                        </div>
                    </div>
                </div>
                <!-- Content END -->
            </div>
        </div>
    </div>