extends base

block content
    style.
        .contact a { 
            text-decoration: none;
            color: #c20d19;
        }
    <div class="main-wrapper">
        <div class="inner-wrapper">
            <div class="main">
                //-<!-- Content -->
                <div class="main-content">
                    //-<!-- Page head tile -->
                    <div class="page-head-tile">
            
                    </div>
                    //-<!-- Page head tile END -->
                    //-<!-- Main post image -->
                    <div class="section">
                        <article class="post post-tp-27 mb-height">
                            <figure>
                                <a href="">
                                    <img src="/assets/img/aviaoavianca.png" height="535" width="1140" alt="Spectr News Theme" class="adaptive" />
                                </a>
                            </figure>
                            <div class="ptp-27-overlay">
                                <div class="table">
                                    <div class="cell">
                                        <h2 class="title-18"><a href="">Candidates relate tales of addiction but are short on answers</a></h2>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!-- Main post image END -->
                    <div class="section">
                        <div class="row">
                            <div class="content">
                                <div class="pst-block">
                                    <div class="pst-block-main">
                                        <div class="post-content">
                                            <div class="title-blc-2">
                                                <div class="title-blc-inner">
                                                    <h4>Avianca <span>Brasil</span></h4>
                                                </div>
                                            </div>
                                            <br>
                                            <p>A Avianca Brasil opera voos regulares desde 2002. Cobrindo 23 destinos domésticos e um no exterior com cerca de 230 decolagens diárias, transportou 9 milhões de passageiros em 2016 em sua moderna frota de 45 aeronaves da Airbus. Como membro da Star Alliance, a maior aliança global de companhias aéreas, oferece aos clientes acesso a mais de 1.300 aeroportos em todo o mundo, por meio de voos de 27 parceiras internacionais.
                                            <br><br>A Avianca Brasil é amplamente reconhecida pela qualidade de seus produtos e serviços, como refeição de bordo gratuita, entretenimento individual e maior espaço entre poltronas (a empresa é a única no país a estampar a categoria “A” do Selo Dimensional ANAC em todas as aeronaves e em todas as fileiras de assentos). A estas vantagens soma-se o programa de fidelidade Amigo, que conta com mais de 3,4 milhões de clientes cadastrados. A companhia possui, ainda, a certificação IOSA, da IATA, reconhecida como atestado de alto padrão de segurança operacional e controle de qualidade no setor aéreo.
                                            <br><br>Como reconhecimento pelas ações constantes de melhoria no atendimento aos clientes, em 2016, a Avianca Brasil recebeu, pela terceira vez consecutiva, o prêmio Melhor Companhia Aérea Nacional pela revista Viagem e Turismo e, pela quinta vez, o prêmio de melhor companhia aérea do país em atendimento ao cliente, segundo o Ranking de Atendimento ao Cliente do Instituto Ibero-Brasileiro de Relacionamento com o Cliente (IBRC)/Revista Exame. Na virada para dezembro, o jornal O Estado de S. Paulo divulgou a pesquisa de Melhores Serviços do Brasil, feita em parceria com a Blend New Research, que a colocou em primeiro lugar na categoria Companhia Aérea.</p>

                                            <div class="title-blc-2">
                                                <div class="title-blc-inner">
                                                    <h4>Dados <span>de Contato</span></h4>
                                                </div>
                                            </div>
                                            <div class="small-gallery contact">
                                                <div class="item">
                                                    
    
                                                    <div style="text-align: center;">Central de reserva</div>
                                                    <div style="text-align: center;"><a href="#" target="_blank">4004 4040</a></div>
                                                    <br>
                                                    <div style="text-align: center;">Central de reserva outras cidades</div>
                                                    <div style="text-align: center;"><a href="#" target="_blank">0300 789 8160</a></div>

                                                </div>

                                                <div class="item">
                                                    <div style="text-align: center;">SAC</div>
                                                    <div style="text-align: center;"><a href="#" target="_blank">0800 286 6543</a></div>
                                                    <br>
                                                    <div style="text-align: center;">Para deficientes auditivos</div>
                                                    <div style="text-align: center;"><a href="#" target="_blank">0800 286 5445</a></div>
                                                </div>

                                                <div class="item">
                                                    <div style="text-align: center;">Programa Amigo</div>
                                                    <div style="text-align: center;"><a href="http://www.avianca.com.br/amigo" target="_blank">www.avianca.com.br/amigo</a></div>
                                                    <br>
                                                    <div style="text-align: center;">Site Avianca</div>
                                                    <div style="text-align: center;"><a href="http://www.avianca.com.br" target="_blank">www.avianca.com.br</a></div>
                                                </div>
                                            </div>

                                            <div class="title-blc-2">
                                                <div class="title-blc-inner">
                                                    <h4>Nossas <span>Prêmios</span></h4>
                                                </div>
                                            </div>
                                            <img style="width: 100%;" src="/assets/img/premios.png" >

                                            <div class="title-blc-2">
                                                <div class="title-blc-inner">
                                                    <h4>Nossas <span>Aeronaves</span></h4>
                                                </div>
                                            </div>
                                            <div class="small-gallery">
                                                <div class="item">
                                                    <figure>
                                                        <img src="/assets/img/A318.png" height="168" width="230" alt="Spectr News Theme" class="adaptive" />
                                                    </figure>
                                                </div>
                                                <div class="item">
                                                    <figure>
                                                        <img src="/assets/img/A319.png" height="168" width="230" alt="Spectr News Theme" class="adaptive" />
                                                    </figure>
                                                </div>
                                                <div class="item">
                                                    <figure>
                                                        <img src="/assets/img/A320S.png" height="168" width="230" alt="Spectr News Theme" class="adaptive" />
                                                    </figure>
                                                </div>
                                            </div>

                                            <div class="title-blc-2">
                                                <div class="title-blc-inner">
                                                    <h4>Mapa <span>de Rotas</span></h4>
                                                </div>
                                            </div>

                                            <img style="width: 100%;" src="/assets/img/mapa.jpg">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            //- SIDEBAR INIT
                            <aside class="side-bar">
                                <div class="js-sidebar">
                                    include ./partials/_search
                                    include ./partials/_tags
                                    include ./partials/_newsletter
                                </div>
                            </aside>
                            //- SIDEBAR END
                        </div>
                    </div>
                </div>
                <!-- Content END -->
            </div>
        </div>
    </div>