extends base

block content
	.main-content
		// Page head tile
		.page-head-tile
			.container
				.breadcrumbs-block
					ul.breadcrumbs
						li.bc-item
							a(href='') Home
							i.fa.fa-angle-right
						li.bc-item
							a(href='') Category Style Four
				.page-title
					h1.title-16
						strong Category Style
						|  Four
					.filters
						ul.filters-list-1
							li
								a.active(href='') all
							li
								a(href='') web design
							li
								a(href='') branding
							li
								a(href='') design
							li
								a(href='') video
						.filters-more
							.filters-btn.js-fl-btn
								i.li_settings
								.filters-drop.js-fl-block
									i.arr
									ul
										li
											a(href='') Latest
										li
											a.active(href='') Popular
										li
											a(href='') Recent
										li
											a(href='') Most comment
		// Page head tile END
		// Main posts
		.main-posts-5
			.mp-section
				.half
					article.post.post-tp-12
						figure
							a(href='')
								img.adaptive(src='/assets/img/567x393/1.jpg', height='393', width='567', alt='Spectr News Theme')
						.ptp-1-overlay
							.ptp-1-data
								a.category-tp-1(href='') BUSINESS
								h2.title-13
									a(href='#1') A year from today, ‘ask what your country can do for you’
								.meta-tp-1
									.ptp-1-date
										a(href='') october 2, 2015
									.ptp-1-views
										a(href='')
											i.li_eye
											span 187
									.ptp-1-comments
										a(href='')
											i.li_bubble
											span 5
				.half
					article.post.post-tp-12
						figure
							a(href='')
								img.adaptive(src='/assets/img/567x393/2.jpg', height='393', width='567', alt='Spectr News Theme')
						.ptp-1-overlay
							.ptp-1-data
								a.category-tp-1(href='') BUSINESS
								h2.title-13
									a(href='#1') A year from today, ‘ask what your country can do for you’
								.meta-tp-1
									.ptp-1-date
										a(href='') october 2, 2015
									.ptp-1-views
										a(href='')
											i.li_eye
											span 187
									.ptp-1-comments
										a(href='')
											i.li_bubble
											span 5
		// Main posts END
		.section
			.row
				.content
					.pst-block
						.pst-block-main
							.posts
								article.post.post-tp-24
									figure
										a(href='')
											img.adaptive(src='/assets/img/270x189/1.jpg', height='189', width='270', alt='Spectr News Theme')
										.ptp-24-overlay
											.ptp-24-data
												a(href='')
													i.li_eye
													| 187
												a(href='')
													i.li_bubble
													| 187
									h3.title-14
										a(href='') Anger brewing over naming of Pfizer exec to UK foundation board
									p.p
										| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium dolore mque laudantium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi rchitecto
									.meta-tp-2
										.date
											span october 2, 2015
										.category
											a(href='')
												i.li_pen
												span design
								article.post.post-tp-24
									figure
										a(href='')
											img.adaptive(src='/assets/img/270x189/2.jpg', height='189', width='270', alt='Spectr News Theme')
										.ptp-24-overlay
											.ptp-24-data
												a(href='')
													i.li_eye
													| 187
												a(href='')
													i.li_bubble
													| 187
									h3.title-14
										a(href='') Brady is not a crybaby, just a feverish competitor
									p.p
										| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium dolore mque laudantium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi rchitecto
									.meta-tp-2
										.date
											span october 2, 2015
										.category
											a(href='')
												i.li_pen
												span design
								article.post.post-tp-24
									figure
										a(href='')
											img.adaptive(src='/assets/img/270x189/3.jpg', height='189', width='270', alt='Spectr News Theme')
										.ptp-24-overlay
											.ptp-24-data
												a(href='')
													i.li_eye
													| 187
												a(href='')
													i.li_bubble
													| 187
									h3.title-14
										a(href='') Reputed mobster is sentenced
									p.p
										| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium dolore mque laudantium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi rchitecto
									.meta-tp-2
										.date
											span october 2, 2015
										.category
											a(href='')
												i.li_pen
												span design
								article.post.post-tp-24
									figure
										a(href='')
											img.adaptive(src='/assets/img/270x189/4.jpg', height='189', width='270', alt='Spectr News Theme')
										.ptp-24-overlay
											.ptp-24-data
												a(href='')
													i.li_eye
													| 187
												a(href='')
													i.li_bubble
													| 187
									h3.title-14
										a(href='') Anger brewing over naming of Pfizer exec to UK foundation board
									p.p
										| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium dolore mque laudantium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi rchitecto
									.meta-tp-2
										.date
											span october 2, 2015
										.category
											a(href='')
												i.li_pen
												span design
								article.post.post-tp-24
									figure
										a(href='')
											img.adaptive(src='/assets/img/270x189/5.jpg', height='189', width='270', alt='Spectr News Theme')
										.ptp-24-overlay
											.ptp-24-data
												a(href='')
													i.li_eye
													| 187
												a(href='')
													i.li_bubble
													| 187
									h3.title-14
										a(href='') Big storm with significant snowfall looms
									p.p
										| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium dolore mque laudantium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi rchitecto
									.meta-tp-2
										.date
											span october 2, 2015
										.category
											a(href='')
												i.li_pen
												span design
								article.post.post-tp-24
									figure
										a(href='')
											img.adaptive(src='/assets/img/270x189/6.jpg', height='189', width='270', alt='Spectr News Theme')
										.ptp-24-overlay
											.ptp-24-data
												a(href='')
													i.li_eye
													| 187
												a(href='')
													i.li_bubble
													| 187
									h3.title-14
										a(href='') Walsh considers offering tax breaks to city’s landlords
									p.p
										| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium dolore mque laudantium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi rchitecto
									.meta-tp-2
										.date
											span october 2, 2015
										.category
											a(href='')
												i.li_pen
												span design
								article.post.post-tp-24
									figure
										a(href='')
											img.adaptive(src='/assets/img/270x189/7.jpg', height='189', width='270', alt='Spectr News Theme')
										.ptp-24-overlay
											.ptp-24-data
												a(href='')
													i.li_eye
													| 187
												a(href='')
													i.li_bubble
													| 187
									h3.title-14
										a(href='') Reputed mobster is sentenced for role in drug ring
									p.p
										| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium dolore mque laudantium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi rchitecto
									.meta-tp-2
										.date
											span october 2, 2015
										.category
											a(href='')
												i.li_pen
												span design
								article.post.post-tp-24
									figure
										a(href='')
											img.adaptive(src='/assets/img/270x189/8.jpg', height='189', width='270', alt='Spectr News Theme')
										.ptp-24-overlay
											.ptp-24-data
												a(href='')
													i.li_eye
													| 187
												a(href='')
													i.li_bubble
													| 187
									h3.title-14
										a(href='') Joyce blurs the lines between public duties and private business
									p.p
										| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium dolore mque laudantium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi rchitecto
									.meta-tp-2
										.date
											span october 2, 2015
										.category
											a(href='')
												i.li_pen
												span design
							// Page nav
							.page-nav
								a.pn-item(href='')
									i.page-nav-prev-ic
								a.pn-item.mb-pt-hide(href='') 1
								a.pn-item.current.mb-pt-hide(href='') 2
								a.pn-item.mb-pt-hide(href='') 3
								span.extend.mb-pt-hide ...
								a.pn-item.mb-pt-hide(href='') 7
								a.pn-item(href='')
									i.page-nav-next-ic
								span.page-count Page 1 of 7
							// Page nav END
				aside.side-bar
					.js-sidebar
						.pst-block
							.pst-block-head
								h2.title-4
									strong Stay
									|  Connected
							.pst-block-main
								.social-tp-1
									ul.social-list
										li.fb
											a(href='')
												span.soc-ic
													i.fa.fa-facebook
												|  1526 Fans
												span.soc-btn Like It
										li.tw
											a(href='')
												span.soc-ic
													i.fa.fa-twitter
												|  541 Followers
												span.soc-btn Follow Us
										li.gp
											a(href='')
												span.soc-ic
													i.fa.fa-google-plus
												|  421 Friends
												span.soc-btn Follow Us
						.sb-banner
							.banner-inner
								img.adaptive(src='/assets/img/sb-banner-img.jpg', height='270', width='320', alt='Spectr News Theme')
								.banner-overlay
									h5.title-11
										| The Best
										br
										| Magazine & Blog
										br
										| Theme
									a.btn-2(href='') buy it now
						.recent-nws
							.pst-block
								.pst-block-head
									h2.title-4
										strong Recent
										|  News
									.all-sb
										a(href='') all news
								.pst-block-main
									.inner-filters
										ul.filters-list-3.js-tab-filter
											li
												a.active(href='') News
											li
												a(href='') Featured
											li
												a(href='') Comments
									hr.pst-block-hr
									.js-csp-block.js-tab-slider
										div
											article.post.post-tp-9
												figure
													a(href='')
														img.adaptive(src='/assets/img/115x85/9.jpg', alt='Spectr News Theme', height='85', width='115')
												h3.title-6
													a(href='') Duis eu arcu sit amet ante tristique
												.date-tp-2 october 2, 2015
											article.post.post-tp-9
												figure
													a(href='')
														img.adaptive(src='/assets/img/115x85/10.jpg', alt='Spectr News Theme', height='85', width='115')
												h3.title-6
													a(href='') Vivamus auctor quam nec mauris commodo
												.date-tp-2 october 2, 2015
											article.post.post-tp-9
												figure
													a(href='')
														img.adaptive(src='/assets/img/115x85/11.jpg', alt='Spectr News Theme', height='85', width='115')
												h3.title-6
													a(href='') Nam ut metus elementum pharetra diam sed
												.date-tp-2 october 2, 2015
										div
											article.post.post-tp-9
												figure
													a(href='')
														img.adaptive(src='/assets/img/115x85/10.jpg', alt='Spectr News Theme', height='85', width='115')
												h3.title-6
													a(href='') Vivamus auctor quam nec mauris commodo
												.date-tp-2 october 2, 2015
											article.post.post-tp-9
												figure
													a(href='')
														img.adaptive(src='/assets/img/115x85/9.jpg', alt='Spectr News Theme', height='85', width='115')
												h3.title-6
													a(href='') Duis eu arcu sit amet ante tristique
												.date-tp-2 october 2, 2015
											article.post.post-tp-9
												figure
													a(href='')
														img.adaptive(src='/assets/img/115x85/11.jpg', alt='Spectr News Theme', height='85', width='115')
												h3.title-6
													a(href='') Nam ut metus elementum pharetra diam sed
												.date-tp-2 october 2, 2015
								.pst-block-foot
									.js-sbr-pagination
						.sbsb-block-1
							h4.title-8
								strong Subscribe
								|  to Spectr
							.sbsb-form-1
								.sbsb-form
									.sbsb-input
										span.sbsb-icon
											i.li_mail
										input(type='email', placeholder='E-mail')
									.sbsb-btn
										button subscribe
