extends base

block content
	.main-content
		// Page head tile
		.page-head-tile
			.container
				.breadcrumbs-block
					ul.breadcrumbs
						li.bc-item
							a(href='') Home
							i.fa.fa-angle-right
						li.bc-item
							a(href='') Post Template Two
		// Page head tile END
		.section
			.row
				.content
					.pst-block
						.pst-block-main
							.post-content
								article
									.post-main-img
										img.adaptive(src='/assets/img/750x442/1.jpg', height='442', width='750', alt='Spectr News Theme')
									a.category-tp-1(href='', tabindex='0') BUSINESS
									h2.title-21 How furniture making has influenced the design of web
									.meta-tp-5
										.author-tp-2
											span.photo
												img(src='/assets/img/author-img.png', height='18', width='18', alt='Spectr News Theme')
											| Admin
										.date-tp-4
											i.li_clock
											| 21 January
										.ptp-1-views
											a(href='')
												i.li_eye
												span 187
										.ptp-1-comments
											a(href='')
												i.li_bubble
												span 5
									.post-sharing-tp-1
										ul
											li.fb
												a(href='')
													i.fa.fa-facebook
													span.mb-pt-hide Facebook
											li.tw
												a(href='')
													i.fa.fa-twitter
													span.mb-pt-hide Twitter
											li.vk
												a(href='')
													i.fa.fa-vk
													span.mb-pt-hide Vkontacte
											li.gp
												a(href='')
													i.fa.fa-google-plus
													span.mb-pt-hide Google+
									p
										| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
									p
										| Ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consepsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
									h3.title-19 Because those who do not know how to pursu
									p
										| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
									p
										| Ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consepsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt.
									blockquote.bq-tp-3
										p
											| Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
										span.author Steve Jobs
									p
										| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
									.img-slider
										.slider.js-img-slider
											.item
												figure.post-img-1
													img.adaptive(src='/assets/img/702x384/1.jpg', height='384', width='702', alt='Spectr News Theme')
											.item
												figure.post-img-1
													img.adaptive(src='/assets/img/702x384/1.jpg', height='371', width='702', alt='Spectr News Theme')
										.navs.js-custom-navs
											.slide-count.js-slide-count
												span.js-current 2
												|  of
												span.js-total 2
									p
										| Omnis iste natus sit voluptatem accusantium doloremque laudantium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
									ul.list.mark-list.mark-circle
										li Why I Love Working with the Web
										li How furniture making has influenced
										li Automated API Testing and Monitorin
										li Qpsa quae ab illo inventore
									p
										| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
									p
										| Ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consepsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt.
									figure.align-left
										img.adaptive(src='/assets/img/300x362/1.jpg', height='362', width='300', alt='Spectr News Theme')
									p
										| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
									p
										| Vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
									p
										| Ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consepsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt.
									p
										| Explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
									p
										| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
									blockquote.bq-tp-3
										p
											| Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
										span.author Steve Jobs
									p
										| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
									figure.post-img-2
										img.adaptive(src='/assets/img/702x384/2.jpg', height='384', width='702', alt='Spectr News Theme')
									p
										| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
									p
										| Ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consepsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt.
								.post-tags
									ul.post-tags-list
										li
											a(href='') Apple
										li
											a(href='') news
										li
											a(href='') clear
										li
											a(href='') design
								.sharing-block
									.sharing-title You can tell friends this post!
									.post-sharing-tp-2
										ul
											li.fb
												a(href='')
													i.fa.fa-facebook
													span.mb-pt-hide Facebook
											li.tw
												a(href='')
													i.fa.fa-twitter
													span.mb-pt-hide Twitter
											li.vk
												a(href='')
													i.fa.fa-vk
													span.mb-pt-hide Vkontacte
											li.gp
												a(href='')
													i.fa.fa-google-plus
													span.mb-pt-hide Google+
										.comments
											i.li_bubble
											| 5 Comments
								.post-next-prev
									.post-prev
										a(href='')
											i.fa.fa-angle-left
											span.mb-pt-hide Candidates relate atales of addiction but are short on answers
									.post-next
										a(href='')
											i.fa.fa-angle-right
											span.mb-pt-hide Facebook's Design Resources lastest release: Watches
								.author-box-1
									.author-photo
										img(src='/assets/img/author-photo.png', height='95', width='95', alt='Spectr News Theme')
									.author-name Ronan Smith
									.author-profession Journalist
									.author-description
										| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis
									.author-social
										ul
											li.tw
												a(href='')
													i.fa.fa-twitter
											li.fb
												a(href='')
													i.fa.fa-facebook
											li.gp
												a(href='')
													i.fa.fa-google-plus
											li.in
												a(href='')
													i.fa.fa-instagram
											li.dr
												a(href='')
													i.fa.fa-dribbble
								.pst-box
									.pst-box-head
										.title-blc-1
											h4
												| Realted
												span Posts
										.navs.js-pst-navs
									.pst-box-main
										.pst-box-inner.js-pst-block-2
											.one-third
												article.post.post-tp-30
													figure
														a(href='')
															img.adaptive(src='/assets/img/222x150/1.jpg', height='150', width='222', alt='Spectr News Theme')
														.ptp-30-overlay
															.ptp-30-data
																a(href='')
																	i.li_eye
																	| 187
																a(href='')
																	i.li_bubble
																	| 187
													h3.title-6
														a(href='') Hacking UI's Best Design Resources
											.one-third
												article.post.post-tp-30
													figure
														a(href='')
															img.adaptive(src='/assets/img/222x150/2.jpg', height='150', width='222', alt='Spectr News Theme')
														.ptp-30-overlay
															.ptp-30-data
																a(href='')
																	i.li_eye
																	| 187
																a(href='')
																	i.li_bubble
																	| 187
													h3.title-6
														a(href='') Teaching Design Students About The Real World
											.one-third
												article.post.post-tp-30
													figure
														a(href='')
															img.adaptive(src='/assets/img/222x150/3.jpg', height='150', width='222', alt='Spectr News Theme')
														.ptp-30-overlay
															.ptp-30-data
																a(href='')
																	i.li_eye
																	| 187
																a(href='')
																	i.li_bubble
																	| 187
													h3.title-6
														a(href='') Guilt And Shame As A UI Design Element
											.one-third
												article.post.post-tp-30
													figure
														a(href='')
															img.adaptive(src='/assets/img/222x150/2.jpg', height='150', width='222', alt='Spectr News Theme')
														.ptp-30-overlay
															.ptp-30-data
																a(href='')
																	i.li_eye
																	| 187
																a(href='')
																	i.li_bubble
																	| 187
													h3.title-6
														a(href='') Teaching Design Students About The Real World
								.comments-block
									.title-blc-2
										.title-blc-inner
											h4 Comments
									.comments
										ul.comment-list
											li.comment
												article
													.comment-photo
														img(src='/assets/img/comment-photo.png', height='49', width='49', alt='Spectr News Theme')
													h6.title-20
														a(href='') Albert Dowson
													p
														| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudanTium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis
													.comment-date Yesterday in 16:00
													.reply Reply Now
												ul.sub-comment-list
													li.comment
														article
															.comment-photo
																img(src='/assets/img/comment-photo.png', height='49', width='49', alt='Spectr News Theme')
															h6.title-20
																a(href='') Jason Born
															p
																| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudanTium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis
															.comment-date Yesterday in 16:00
															.reply Reply Now
													li.comment
														article
															.comment-photo
																img(src='/assets/img/comment-photo.png', height='49', width='49', alt='Spectr News Theme')
															h6.title-20
																a(href='') Albert Dowson
															p
																| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudanTium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis
															.comment-date Yesterday in 16:00
															.reply Reply Now
											li.comment
												article
													.comment-photo
														img(src='/assets/img/comment-photo.png', height='49', width='49', alt='Spectr News Theme')
													h6.title-20
														a(href='') Jack Smith
													p
														| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudanTium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis
													.comment-date Yesterday in 16:00
													.reply Reply Now
											li.comment
												article
													.comment-photo
														img(src='/assets/img/comment-photo.png', height='49', width='49', alt='Spectr News Theme')
													h6.title-20
														a(href='') Robrt Green
													p
														| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudanTium, totamrem aperiam, eaque ipsa quae ab illo inventore veritatis
													.comment-date Yesterday in 16:00
													.reply Reply Now
								.live-comments-block
									.title-blc-2
										.title-blc-inner
											h4
												| Live a
												span Comment
											p Your email address will not be published.
									.comments-form
										form(action='#', method='post')
											.form-control
												label
													| NAME*
													input(type='text')
											.form-control
												label
													| EMAIL*
													input(type='email')
											.form-control
												label
													| WEBSITE
													input(type='text')
											.form-control
												label
													| Comment
													textarea
											button.btn-3 Post comment
				aside.side-bar
					.js-sidebar
						.pst-block
							.pst-block-head
								h2.title-4
									strong Stay
									|  Connected
							.pst-block-main
								.social-tp-1
									ul.social-list
										li.fb
											a(href='')
												span.soc-ic
													i.fa.fa-facebook
												|  1526 Fans
												span.soc-btn Like It
										li.tw
											a(href='')
												span.soc-ic
													i.fa.fa-twitter
												|  541 Followers
												span.soc-btn Follow Us
										li.gp
											a(href='')
												span.soc-ic
													i.fa.fa-google-plus
												|  421 Friends
												span.soc-btn Follow Us
						.sb-banner
							.banner-inner
								img.adaptive(src='/assets/img/sb-banner-img.jpg', height='270', width='320', alt='Spectr News Theme')
								.banner-overlay
									h5.title-11
										| The Best
										br
										| Magazine & Blog
										br
										| Theme
									a.btn-2(href='') buy it now
						.recent-nws
							.pst-block
								.pst-block-head
									h2.title-4
										strong Recent
										|  News
									.all-sb
										a(href='') all news
								.pst-block-main
									.inner-filters
										ul.filters-list-3.js-tab-filter
											li
												a.active(href='') News
											li
												a(href='') Featured
											li
												a(href='') Comments
									hr.pst-block-hr
									.js-csp-block.js-tab-slider
										div
											article.post.post-tp-9
												figure
													a(href='')
														img.adaptive(src='/assets/img/115x85/9.jpg', alt='Spectr News Theme', height='85', width='115')
												h3.title-6
													a(href='') Duis eu arcu sit amet ante tristique
												.date-tp-2 october 2, 2015
											article.post.post-tp-9
												figure
													a(href='')
														img.adaptive(src='/assets/img/115x85/10.jpg', alt='Spectr News Theme', height='85', width='115')
												h3.title-6
													a(href='') Vivamus auctor quam nec mauris commodo
												.date-tp-2 october 2, 2015
											article.post.post-tp-9
												figure
													a(href='')
														img.adaptive(src='/assets/img/115x85/11.jpg', alt='Spectr News Theme', height='85', width='115')
												h3.title-6
													a(href='') Nam ut metus elementum pharetra diam sed
												.date-tp-2 october 2, 2015
										div
											article.post.post-tp-9
												figure
													a(href='')
														img.adaptive(src='/assets/img/115x85/10.jpg', alt='Spectr News Theme', height='85', width='115')
												h3.title-6
													a(href='') Vivamus auctor quam nec mauris commodo
												.date-tp-2 october 2, 2015
											article.post.post-tp-9
												figure
													a(href='')
														img.adaptive(src='/assets/img/115x85/9.jpg', alt='Spectr News Theme', height='85', width='115')
												h3.title-6
													a(href='') Duis eu arcu sit amet ante tristique
												.date-tp-2 october 2, 2015
											article.post.post-tp-9
												figure
													a(href='')
														img.adaptive(src='/assets/img/115x85/11.jpg', alt='Spectr News Theme', height='85', width='115')
												h3.title-6
													a(href='') Nam ut metus elementum pharetra diam sed
												.date-tp-2 october 2, 2015
								.pst-block-foot
									.js-sbr-pagination
						.sbsb-block-1
							h4.title-8
								strong Subscribe
								|  to Spectr
							.sbsb-form-1
								.sbsb-form
									.sbsb-input
										span.sbsb-icon
											i.li_mail
										input(type='email', placeholder='E-mail')
									.sbsb-btn
										button subscribe
