extends base

block content
	.main-content
		// Page head tile
		.page-head-tile
			.container
				.breadcrumbs-block
					ul.breadcrumbs
						li.bc-item
							a(href='/') Home
							i.fa.fa-angle-right
						li.bc-item
							a(href='#') Quem Somos
		// Page head tile END
		.section
			.row
				.content
					.pst-block
						.pst-block-main
							.post-content
								article
									.post-main-img
										img.adaptive(src='/assets/img/aviao-avianca.png', height='442', width='750', alt='Quem somos')
									h2.title-21 Quem Somos
									p Com mais de 15 anos de experiência em aviação comercial, a Media Onboard atua na criação, produção e comercialização de todas as mídias a bordo das aeronaves da Avianca. A agência proporciona diversos canais para que as marcas parceiras impactem diretamente o passageiro, uma vez que ele está confortavelmente acomodado em sua poltrona e com 100% de sua atenção disponível para absorver informações.
									p A Media Onboard investe em sistema de entretenimento, ações promocionais (sampling, speech, sorteio e folheteria), merchandising (exposição da marca em kits de serviço e ao longo do avião) e projetos especiais com o objetivo de provocar empatia e reforçar o relacionamento entre as empresas e o passageiro. Há quatro anos, a agência produz a revista de bordo da companhia, Avianca em Revista, publicação que impacta cerca de 40 mil pessoas com conteúdo que aborda destinos nacionais e internacionais, gastronomia, cultura, arte e negócios, entre outros assuntos direcionados ao público alvo.
									p A empresa é especializada na produção de conteúdo, comerciais, vídeos institucionais, programas para televisão e videoclipes. Ao longo de sua existência, já conquistou diversos prêmios no mercado publicitário.
									p
										a(href="http://www.mediaonboard.com.br/", target="_blank") http://www.mediaonboard.com.br/
				aside.side-bar
					.js-sidebar
						include ./partials/_search
						include ./partials/_tags
						include ./partials/_newsletter
